.page-item-product {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06) , 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 40px;
  margin-top: 40px;
  margin-left: 40px;
  width: 60%;
}

.page-item-product h2 {
  margin-top: 20px;
  font-size: 28px;
}

.page-item-product img {
  height: 200px;
  width: 200px;
}

.page-item-product p {
font-size: 24px;
}

.page-item-product button {
  background-color: green;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 8px 32px;
  width: 25%;
}