.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-left: 20px;
}

.home-aside-content {
  border: 1px solid #181725;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vh;
  line-height: 10px;
  overflow-y: scroll;
}

.home-aside-content h3 {
  font-size: 26px;
  text-align: center;
  text-decoration-line: underline;
}

.section-aside-content {
  border: 0.5px solid rgb(230, 230, 209);
  cursor: pointer;
}

.section-aside-content button {
  font-size: 22px;
}

.section-aside-content button:hover {
  background-color: hsl(120, 100%, 50%);
}

.home-initial-message {
  margin-left: 45px;
  text-align: left;
  font-size: 22px;
}

.home-content {
  width: 75%;
  margin-left: 0px;
}

.home-header-content {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.home-header-content label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.home-input-text {
  border: solid 1px #e1e5eb;
  margin: 5px;
  outline: none;
  font-size: 18px;
  padding: 8px 16px;
  width: 70%;
}

.home-input-button {
  background-color: green;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 8px 32px;
  width: 25%;
}

.shopping-cart-button {
  margin-top: 15px;
}

.home-container-product-list {
  margin-top: 20px;
}

.home-product-list {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  width: 50%;
  font-size: 20px;
}

.card-product-button {
  background-color: green;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 6px 32px;
  width: 30%;
}
